
<table mat-table [dataSource]="dataSource" class="mat-elevation-z20 demo-table">


    <ng-container *ngFor="let cloumn of displayedColumns" matColumnDef={{cloumn}}>
        <th mat-header-cell *matHeaderCellDef>{{cloumn}}</th>
        <td mat-cell *matCellDef="let element">{{element[cloumn]}}</td>
    </ng-container>
    





  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="tableClick(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  
  <div>
    <h3>
      Click Log
    </h3>
  </div>
  
  <div *ngIf="!clickedRows.size">
    Clicked rows will be logged here
  </div>
  
  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{clickedRow.name}}
    </li>
  </ul>
  